absl-py
aiohttp
anyio
attrs
autopep8
cachetools
certifi
charset-normalizer
click
decorator
faiss-cpu
fastapi
filelock
google-auth
gradio
huggingface-hub
idna
joblib
langchain
librosa
lightgbm
matplotlib
numpy
openai
pandas
python-dotenv
requests
scikit-learn
scipy
seaborn
sentence-transformers
SQLAlchemy
xgboost
keras
h5py
tensorflow
tqdm
ipython
SpeechRecognition
keyboard
soundfile
webrtcvad
resampy
